{% extends "base.html.j2" %}

{% block obsah %}

<p>Banany take nemam rad. je to tak </p>

<div class="banany">
    <img src="{{url_for('static', filename='banany.png')}}" alt="#" width={{700}} height={{450}}/>
</div>
{% endblock obsah %}