{% extends "base.html.j2" %}

{% block obsah %}

<p>A tady je prosim kapusta, dobrou chut</p></p>


<div class="kapusta">
    <img src="{{url_for('static', filename='kapusta.png')}}" alt="#" width={{700}} height={{450}} />
</div>
{% endblock obsah %}